@charset "utf-8";

ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #212529;
}
a:hover {
    color: #212529;
    text-decoration: none!important;
}
textarea {
    resize: none;
}
.link-black {
    color: black!important;
}
.post {
    background-color: #ffffff;
}
.orange {
    color: #e9a64c;
}

/* ナビバー */
#logo {
    color: #e9a64c;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}
.nav-text {
    font-size: 16px;
    font-weight: bold;
    color: #e9a64c;
}
/* チャット吹き出し */
.balloon1-right {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 7px 10px;
  max-width: 400px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 5px;
}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 100%;
  margin-top: -10px;
  border: 10px solid transparent;
  border-left: 10px solid #e0edff;
}

.balloon1-right p {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
.balloon1-left {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  max-width: 400px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 5px;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;
  margin-top: -10px;
  border: 10px solid transparent;
  border-right: 10px solid #e0edff;
}

.balloon1-left p {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
/* マイページ */
.my-menus {
    padding-top: 10px;
}
.my-menus .my-menu {
    padding-bottom: 15px;
}
.my-menus .my-menu a {
    font-size: 16px;
    color: #444444;
}
.my-menus .my-menu a:hover {
    color: #e9a64c;
}
/* プロフィールページ */
.profile-top {
    height: 150px;
    position: relative;
    background-color: #e9a64c;
    margin-top: -30px;
}
.profile-top h1 {
    color: #fff;
    font-weight: bold;
    padding-top: 80px;
    padding-left: 300px;
}
.profile-top img {
    width: 150px;
    position: absolute;
    bottom: -50%;
    left: 80px;
    border: 5px solid #f8fafc;
}
/* 投稿 */
.balloon2 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon2 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon2 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon2 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  padding: 15px;
  width: 95%;
  min-height: 100px;
  border-radius: 12px;
  background: #e0edff;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #e0edff;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  word-wrap: break-word;
}
/* ボタン */
.twitter {
    display: inline-block;
    width: 300px;
    padding: 10px;
    background-color: #1ca4f4;
    color: #fff;
}
.twitter:hover {
    opacity: 0.8;
    color: #fff;
}
